$app-logo-width: 96px;
$app-logo-height: $app-logo-width;
$app-label-font-size: 2.5rem;

$app-splash-screen-inner-width: 650px;
$app-splash-screen-inner-height: $app-splash-screen-inner-width;

$app-splash-screen-width: 100%;
$app-splash-screen-height: $app-splash-screen-width;

@import "./responsivity";

.app-label {
    color: var(--mat-app-text-color);
    font-size: $app-label-font-size;
    display: flex;
    justify-content: center;
  }

  .app-logo {

    margin-bottom: 1rem;
    background: url("../../assets/satellite_alt_128dp_E0E3E2FF_FILL0_wght400_GRAD0_opsz48.svg") no-repeat center;
    background-size: contain;
    height: $app-logo-height;
    width: $app-logo-width;


  }

  .app-splash-screen-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../assets/tube-spinner.svg") no-repeat center;
    background-size: contain;
    height: $app-splash-screen-inner-height;
    width: $app-splash-screen-inner-width;

    transition: zoom, opacity, 0.5s;
  }



  .app-splash-screen {
    background-color: var(--mat-app-background-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $app-splash-screen-width;
    height: $app-splash-screen-height;
    z-index: 1000;
    transition: zoom, 0.5s;
  }

  @include laptop;
  @include tablet;
  @include mobile;
