@import './responsivity';

::ng-deep .mat-slide-toggle-thumb {
  width: 48px; /* Adjust width as needed */
  height: 48px; /* Adjust height as needed */
}

::ng-deep .mdc-switch__icon {
  transform: scale(1.5); /* Adjust the scale as needed */
}

mat-drawer {
  width: fit-content;
}
.navbar-icon {
  transform: scale(1.6);
  margin-right: 32px;
}

mat-nav-list {
  display: flex;
  flex-direction: column;

}

.navbar {
  z-index: 999;
  position: sticky;
  top: 0;
  bottom: 0;
}

/* Styles for the fixed sidenav */
.drawer-container {
  height: fit-content;
}

.sidenav {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 168px; /* Adjust the width as needed */
}

.sidenav-sticky {
  position: fixed;
  top: 64px; /* Height of the toolbar */
  height: calc(100vh - 80px);
  overflow: auto;
}

@include mobile;
